@charset "utf-8";
@import "compass/reset";

@import "h5bp";
@include h5bp-display;
@include h5bp-selection;
@include h5bp-chromeframe;
@include h5bp-media;
@include h5bp-base;
@include h5bp-typography;
@include h5bp-figures;
@include h5bp-forms;
@include h5bp-embeds;
@include h5bp-tables;
//@include h5bp-links;
//@include h5bp-lists;
@include h5bp-helpers;

@import "compass/layout";
@import "compass/css3";
@import "compass/typography";
@import "compass/utilities";


//border-box-sizing for all elems
*{@include box-sizing(border-box);}
input[type=search]{@include box-sizing(border-box);}

@import "sprites/controls/*.png";
/*VARIABLES
--------------------------------------------*/
//set liks color here
$linkDefaultColor:#b53228;
$linkHoverColor:#b53228;
$linkActiveColor:#b53228;
$linkVisitedColor:#b53228;
$linkFocusedColor:#b53228;
//base font params--------------------
$baseFontFamily: Arial, "Helvetica CY", "Nimbus Sans L", sans-serif;
$baseFontColor: #fff;
$baseFontSize:14px;
$baseLineHeight: 1.4;
//layout params-----------------------
$baseWidth: 1000px;

/*HELPER CLASSES
---------------------------------------------------------*/
@mixin layout{
  .l-baseWrap{
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto;
    width: $baseWidth
  }
}
//content editing zone styles
@mixin contentEditable{}
.contentEditable{@include contentEditable;}
//hack for ie9 - need for gradient backgrounds
:root .gradient {filter: none \0/IE9; }
//floats
.-f_lt{float: left;}
.-f_rt{float: right;}
//pseudo elems mixin
@mixin pseudoBlockAbs{
  content: '';
  display: block;
  position: absolute;
}
//vertical centering mixin
@mixin vCtr{
  display: table-cell;
  height: inherit;
  vertical-align: middle;
}
//for horisontal layouts
@mixin hList{
  .flexbox &{@include display-box;}
  .no-flexbox & > *{
    @include inline-block;
    vertical-align: top;
  }
}
//img wrapper
@mixin imgWrap{
  img{width:100%;height: 100%;}
}

/*OBJECTS mixins
--------------------------------------------*/
/*LAYOUT
----------------------------------------------------------*/
html, button, input, select, textarea {
  height: 100%;
  font-family: $baseFontFamily;
  color: $baseFontColor;
}
body {
  height: 100%;
  font-size: $baseFontSize;
  line-height: $baseLineHeight;
  @include layout;
  background: url(../images/bg-page.jpg);
}
a {
  @include link-colors($linkDefaultColor, $linkHoverColor, $linkActiveColor, $linkVisitedColor, $linkFocusedColor);
  @include single-transition(all,.4s,ease,0s);
  &.current{color:$linkHoverColor;}
}
input[type=number]{width:40px; text-align: center;}
input[type=text],textarea{width:380px;}
input[type=text]{height: 25px;}


//slider styles
.lof-main-outer{
  width: 746px;
  margin:auto;
}
ul.lof-main-wapper{
  margin-top: 85px;
  li{
    img{display: none;}
  }

}
/* item navigator */
.lof-navigator-wapper{
  background: url(../images/bg-navigation.png);
  width:920px;
  height: 150px;
  position: relative;
  left:0;top:0;
  margin:auto;
  margin:35px 0;
}

.lof-navigator-outer{
  position:relative;
  z-index:100;
  height:100px;
  margin:20px 0 0;
  width:820px !important;
  left:50px;
  overflow:hidden;
  color:#FFF;
  //float:left
}
ul.lof-navigator{
  top:0;
  padding:0;
  margin:0;
  position:absolute;
  width:100%;
}
ul.lof-navigator li{
  cursor:hand;
  cursor:pointer;
  list-style:none;
  padding:0;
  overflow:hidden;
  margin:0;
  float:left;
  display:block;
  text-align:center;
}
ul.lof-navigator li img{
  border:none;
  opacity: .5;
  @include single-transition(all,.4s,ease,0s);
}
ul.lof-navigator li.active img, ul.lof-navigator li:hover img {
  opacity: 1;
  border:none;
}
.lof-navigator-wapper .lof-next,  .lof-navigator-wapper .lof-previous{
  display:block;
  width:23px;
  height:34px;
  //color:#FFF;
  cursor:pointer;
  position: absolute;
  margin-top: -17px;
  top:50%;
}
.lof-navigator-wapper .lof-next {
  text-indent:-999px;
  left:10px;
  margin-right:5px;
  background:url(../images/prev.png) no-repeat;
}
.lof-navigator-wapper .lof-previous {
  text-indent:-999px;
  right:10px;
  margin-left:5px;
  background:url(../images/next.png) no-repeat;
}

//metcast
.gsInformer{
  background-color: #1a1a1a;
  @include box-shadow(0 0 10px rgba(0,0,0,.75));
  color:#dae2e8;
}
//player styles
.flowplayer {width: 746px; height: 555px;}

//metcast
.metcast__content{@include vCtr;}

//socialWeb
.socialWeb{
  width:824px;
  margin: 0 auto;
  padding-bottom: 5px;
  position: relative;
  &:before{
    @include pseudoBlockAbs;
    background: url(../images/socialWeb__border.jpg);
    height: 5px;
    width:100%;
    bottom:0;
    left:0;
  }
}

//copyright
.copyright{
  display: block;
  width:825px;
  margin:0 auto;
  padding:15px 0;
  font-size: 12px;
  span{display: block; text-align: right;}
}

.bg-tv{
  background: url(../images/bg-tv.png);
  width:923px;height: 885px;
  position: relative;
  margin: 0 auto 70px;
  &:before{
    @include pseudoBlockAbs;
    background: url(../images/tv__shadow.png);
    width:1040px;
    height: 130px;
    bottom:-55px;
    left:50%;
    margin-left: -530px;
    z-index: -1;
  }
}
.tv__controls{
  position: absolute;
  right: 60px;
  bottom:60px;
  height: 110px;
  width:485px;
}
.tv__quality{
  position: absolute;
  top:0;
  left:170px;
  width:150px;
  height: inherit;
}
.tv__controls__title{
  position: absolute;
  left:0;top:0;
  width:170px;
  height: 120px;
  &:before{
    @include pseudoBlockAbs;
    @include controls-sprite(main_title);
    width:88px; height: 20px;
    left:50%; top:50%;
    margin-top: -11px;
    margin-left: -44px;
  }
}
.tv__quality__item{
  display: block;
  position: absolute;
  &.item-1{width: 44px; height: 12px; top:5px;left:15px;@include controls-sprite(title_stage-1);}
  &.item-2{width: 41px; height: 14px; top:50px;left:0px;@include controls-sprite(title_stage-2);}
  &.item-3{width: 38px; height: 13px; top:90px;left:17px;@include controls-sprite(title_stage-3);}
}
#tv__quality__indicator{
  width:99px; height: 84px;
  position: absolute;
  top:10px;
  left:50px;
  &.stage-1{@include controls-sprite(stage-1);}
  &.stage-2{@include controls-sprite(stage-2);}
  &.stage-3{@include controls-sprite(stage-3);}
}
/*tv__controls__volume indicator*/
.tv__controls__volume{
  display: block;
  position: absolute;
  right:10px;
  top:0;
  width:115px; height: 65px;
  .title{
    display: block;
    @include controls-sprite(title_volumeRange);
    width:61px; height: 13px;
  }
}
/*full size view*/
.tv__contols__fullSize{
  position: absolute;
  bottom:0;
  right:65px;
  width:60px; height: 34px;
  &:before{
    @include pseudoBlockAbs;
    top:0;right:0;
    width:43px; height: 34px;
    @include controls-sprite(on);
  }
  &.active:before {@include controls-sprite(off);}
  .title{
    display: block;
    position: absolute;
    left: 0;
    top:50%;
    margin-top: -7px;
    width:19px; height: 15px;
    @include controls-sprite(title_fullsize);
    float: left;
  }
}
/*on off volume*/
.tv__contols__volumeOff{
  position: absolute;
  bottom:0;right:0;
  width:60px; height: 34px;
  &:before{
    @include pseudoBlockAbs;
    top:0;right:0;
    width:43px; height: 34px;
    @include controls-sprite(on);
  }
  &.active:before {@include controls-sprite(off);}
  .title{
    display: block;
    position: absolute;
    left: 0;
    top:50%;
    @include controls-sprite(title_volume-on);
    width:14px; height: 18px;
    margin-top: -9px;
  }
  &.active .title{
    @include controls-sprite(title_volume-off);
    width:17px; height: 18px;
  }
}
/* slider root element */
.slider {
  @include controls-sprite(rangeTrack);
  height:36px;
  position:relative;
  cursor:pointer;
  width:113px;
  margin-top:10px;
}

/* progress bar (enabled with progress: true) */
.progress {
  height:9px;
  background-color:#C5FF00;
  display:none;
  opacity:0.6;
}

/* drag handle */
.handle {
  @include controls-sprite(rangeDrag);
  @include box-shadow(0 2px 7px #000);
  width: 6px;
  height: 41px;
  position:absolute;
  top:50%;
  margin-top: -20px;
  display:block;
  cursor:move;
}

/* the input field */
.range {
  border:1px inset #ddd;
  float:left;
  font-size:20px;
  margin:0 0 0 15px;
  padding:3px 0;
  text-align:center;
  width:50px;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
  display: none;
}






//debug
//* { outline: 2px dotted red; }
//* * { outline: 2px dotted green; }
//* * * { outline: 2px dotted orange; }
//* * * * { outline: 2px dotted blue; }
//* * * * * { outline: 1px solid red; }
//* * * * * * { outline: 1px solid green; }
//* * * * * * * { outline: 1px solid orange; }
//* * * * * * * * { outline: 1px solid blue; }
