/* line 17, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 34, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-h5bp-0.0.5/stylesheets/h5bp/_normalize.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
  display: block;
}

/* line 35, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-h5bp-0.0.5/stylesheets/h5bp/_normalize.scss */
audio, canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

/* line 36, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-h5bp-0.0.5/stylesheets/h5bp/_normalize.scss */
audio:not([controls]) {
  display: none;
}

/* line 37, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-h5bp-0.0.5/stylesheets/h5bp/_normalize.scss */
[hidden] {
  display: none;
}

/* line 62, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-h5bp-0.0.5/stylesheets/h5bp/_normalize.scss */
::-moz-selection {
  background: #fe57a1;
  color: white;
  text-shadow: none;
}

/* line 63, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-h5bp-0.0.5/stylesheets/h5bp/_normalize.scss */
::selection {
  background: #fe57a1;
  color: white;
  text-shadow: none;
}

/* line 6, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-h5bp-0.0.5/stylesheets/h5bp/_chromeframe.scss */
.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: black;
  padding: 0.2em 0;
}

@media print {
  /* line 11, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-h5bp-0.0.5/stylesheets/h5bp/_media.scss */
  * {
    background: transparent !important;
    color: black !important;
    box-shadow: none !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important;
  }

  /* line 12, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-h5bp-0.0.5/stylesheets/h5bp/_media.scss */
  a, a:visited {
    text-decoration: underline;
  }

  /* line 13, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-h5bp-0.0.5/stylesheets/h5bp/_media.scss */
  a[href]:after {
    content: " (" attr(href) ")";
  }

  /* line 14, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-h5bp-0.0.5/stylesheets/h5bp/_media.scss */
  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /* line 15, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-h5bp-0.0.5/stylesheets/h5bp/_media.scss */
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after {
    content: "";
  }

  /* line 16, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-h5bp-0.0.5/stylesheets/h5bp/_media.scss */
  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /* line 17, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-h5bp-0.0.5/stylesheets/h5bp/_media.scss */
  thead {
    display: table-header-group;
  }

  /* line 18, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-h5bp-0.0.5/stylesheets/h5bp/_media.scss */
  tr, img {
    page-break-inside: avoid;
  }

  /* line 19, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-h5bp-0.0.5/stylesheets/h5bp/_media.scss */
  img {
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
}

  /* line 21, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-h5bp-0.0.5/stylesheets/h5bp/_media.scss */
  p, h2, h3 {
    orphans: 3;
    widows: 3;
  }

  /* line 22, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-h5bp-0.0.5/stylesheets/h5bp/_media.scss */
  h2, h3 {
    page-break-after: avoid;
  }
}
/* line 48, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-h5bp-0.0.5/stylesheets/h5bp/_normalize.scss */
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/* line 50, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-h5bp-0.0.5/stylesheets/h5bp/_normalize.scss */
html, button, input, select, textarea {
  font-family: sans-serif;
  color: #222222;
}

/* line 52, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-h5bp-0.0.5/stylesheets/h5bp/_normalize.scss */
body {
  margin: 0;
  font-size: 1em;
  line-height: 1.4;
}

/* line 85, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-h5bp-0.0.5/stylesheets/h5bp/_normalize.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/* line 87, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-h5bp-0.0.5/stylesheets/h5bp/_normalize.scss */
b, strong {
  font-weight: bold;
}

/* line 89, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-h5bp-0.0.5/stylesheets/h5bp/_normalize.scss */
blockquote {
  margin: 1em 40px;
}

/* line 91, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-h5bp-0.0.5/stylesheets/h5bp/_normalize.scss */
dfn {
  font-style: italic;
}

/* line 93, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-h5bp-0.0.5/stylesheets/h5bp/_normalize.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/* line 95, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-h5bp-0.0.5/stylesheets/h5bp/_normalize.scss */
ins {
  background: #ff9;
  color: #000;
  text-decoration: none;
}

/* line 97, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-h5bp-0.0.5/stylesheets/h5bp/_normalize.scss */
mark {
  background: #ff0;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

/* line 100, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-h5bp-0.0.5/stylesheets/h5bp/_normalize.scss */
pre, code, kbd, samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em;
}

/* line 103, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-h5bp-0.0.5/stylesheets/h5bp/_normalize.scss */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

/* line 105, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-h5bp-0.0.5/stylesheets/h5bp/_normalize.scss */
q {
  quotes: none;
}

/* line 106, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-h5bp-0.0.5/stylesheets/h5bp/_normalize.scss */
q:before, q:after {
  content: "";
  content: none;
}

/* line 108, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-h5bp-0.0.5/stylesheets/h5bp/_normalize.scss */
small {
  font-size: 85%;
}

/* line 111, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-h5bp-0.0.5/stylesheets/h5bp/_normalize.scss */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 112, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-h5bp-0.0.5/stylesheets/h5bp/_normalize.scss */
sup {
  top: -0.5em;
}

/* line 113, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-h5bp-0.0.5/stylesheets/h5bp/_normalize.scss */
sub {
  bottom: -0.25em;
}

/* line 146, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-h5bp-0.0.5/stylesheets/h5bp/_normalize.scss */
figure {
  margin: 0;
}

/* line 154, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-h5bp-0.0.5/stylesheets/h5bp/_normalize.scss */
form {
  margin: 0;
}

/* line 155, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-h5bp-0.0.5/stylesheets/h5bp/_normalize.scss */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/* line 158, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-h5bp-0.0.5/stylesheets/h5bp/_normalize.scss */
label {
  cursor: pointer;
}

/* line 163, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-h5bp-0.0.5/stylesheets/h5bp/_normalize.scss */
legend {
  border: 0;
  *margin-left: -7px;
  padding: 0;
  white-space: normal;
}

/* line 169, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-h5bp-0.0.5/stylesheets/h5bp/_normalize.scss */
button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}

/* line 173, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-h5bp-0.0.5/stylesheets/h5bp/_normalize.scss */
button, input {
  line-height: normal;
}

/* line 179, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-h5bp-0.0.5/stylesheets/h5bp/_normalize.scss */
button, input[type="button"], input[type="reset"], input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
  *overflow: visible;
}

/* line 183, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-h5bp-0.0.5/stylesheets/h5bp/_normalize.scss */
button[disabled], input[disabled] {
  cursor: default;
}

/* line 187, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-h5bp-0.0.5/stylesheets/h5bp/_normalize.scss */
input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
  *width: 13px;
  *height: 13px;
}

/* line 188, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-h5bp-0.0.5/stylesheets/h5bp/_normalize.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

/* line 189, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-h5bp-0.0.5/stylesheets/h5bp/_normalize.scss */
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

/* line 193, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-h5bp-0.0.5/stylesheets/h5bp/_normalize.scss */
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* line 198, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-h5bp-0.0.5/stylesheets/h5bp/_normalize.scss */
textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

/* line 202, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-h5bp-0.0.5/stylesheets/h5bp/_normalize.scss */
input:invalid, textarea:invalid {
  background-color: #f0dddd;
}

/* line 134, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-h5bp-0.0.5/stylesheets/h5bp/_normalize.scss */
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle;
}

/* line 138, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-h5bp-0.0.5/stylesheets/h5bp/_normalize.scss */
svg:not(:root) {
  overflow: hidden;
}

/* line 210, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-h5bp-0.0.5/stylesheets/h5bp/_normalize.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 211, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-h5bp-0.0.5/stylesheets/h5bp/_normalize.scss */
td {
  vertical-align: top;
}

/* line 7, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-h5bp-0.0.5/stylesheets/h5bp/_helpers.scss */
.ir {
  display: block;
  border: 0;
  text-indent: -999em;
  overflow: hidden;
  background-color: transparent;
  background-repeat: no-repeat;
  text-align: left;
  direction: ltr;
  *line-height: 0;
}
/* line 26, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-h5bp-0.0.5/stylesheets/h5bp/_helpers.scss */
.ir br {
  display: none;
}

/* line 9, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-h5bp-0.0.5/stylesheets/h5bp/_helpers.scss */
.hidden {
  display: none !important;
  visibility: hidden;
}

/* line 11, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-h5bp-0.0.5/stylesheets/h5bp/_helpers.scss */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
/* line 45, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-h5bp-0.0.5/stylesheets/h5bp/_helpers.scss */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/* line 13, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-h5bp-0.0.5/stylesheets/h5bp/_helpers.scss */
.invisible {
  visibility: hidden;
}

/* line 55, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-h5bp-0.0.5/stylesheets/h5bp/_helpers.scss */
.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}
/* line 56, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-h5bp-0.0.5/stylesheets/h5bp/_helpers.scss */
.clearfix:after {
  clear: both;
}
/* line 57, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-h5bp-0.0.5/stylesheets/h5bp/_helpers.scss */
.clearfix {
  *zoom: 1;
}

/* line 26, ../sass/screen.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 27, ../sass/screen.scss */
input[type=search] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 154, sprites/controls/*.png */
.controls-sprite, .tv__controls__title:before, .tv__quality__item.item-1, .tv__quality__item.item-2, .tv__quality__item.item-3, #tv__quality__indicator.stage-1, #tv__quality__indicator.stage-2, #tv__quality__indicator.stage-3, .tv__controls__volume .title, .tv__contols__fullSize:before, .tv__contols__fullSize.active:before, .tv__contols__fullSize .title, .tv__contols__volumeOff:before, .tv__contols__volumeOff.active:before, .tv__contols__volumeOff .title, .tv__contols__volumeOff.active .title, .slider, .handle {
  background: url('/images/sprites/controls-s0373ddd9b5.png') no-repeat;
}

/*VARIABLES
--------------------------------------------*/
/*HELPER CLASSES
---------------------------------------------------------*/
/* line 61, ../sass/screen.scss */
:root .gradient {
  filter: none \0/IE9;
}

/* line 63, ../sass/screen.scss */
.-f_lt {
  float: left;
}

/* line 64, ../sass/screen.scss */
.-f_rt {
  float: right;
}

/*OBJECTS mixins
--------------------------------------------*/
/*LAYOUT
----------------------------------------------------------*/
/* line 94, ../sass/screen.scss */
html, button, input, select, textarea {
  height: 100%;
  font-family: Arial, "Helvetica CY", "Nimbus Sans L", sans-serif;
  color: white;
}

/* line 99, ../sass/screen.scss */
body {
  height: 100%;
  font-size: 14px;
  line-height: 1.4;
  background: url(../images/bg-page.jpg);
}
/* line 49, ../sass/screen.scss */
body .l-baseWrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto;
  width: 1000px;
}

/* line 106, ../sass/screen.scss */
a {
  color: #b53228;
  -webkit-transition: all 0.4s ease;
  -webkit-transition-delay: 0s;
  -moz-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}
/* line 18, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
a:visited {
  color: #b53228;
}
/* line 21, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
a:focus {
  color: #b53228;
}
/* line 24, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
a:hover {
  color: #b53228;
}
/* line 27, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
a:active {
  color: #b53228;
}
/* line 109, ../sass/screen.scss */
a.current {
  color: #b53228;
}

/* line 111, ../sass/screen.scss */
input[type=number] {
  width: 40px;
  text-align: center;
}

/* line 112, ../sass/screen.scss */
input[type=text], textarea {
  width: 380px;
}

/* line 113, ../sass/screen.scss */
input[type=text] {
  height: 25px;
}

/* line 117, ../sass/screen.scss */
.lof-main-outer {
  width: 746px;
  margin: auto;
}

/* line 121, ../sass/screen.scss */
ul.lof-main-wapper {
  margin-top: 85px;
}
/* line 124, ../sass/screen.scss */
ul.lof-main-wapper li img {
  display: none;
}

/* item navigator */
/* line 129, ../sass/screen.scss */
.lof-navigator-wapper {
  background: url(../images/bg-navigation.png);
  width: 920px;
  height: 150px;
  position: relative;
  left: 0;
  top: 0;
  margin: 35px auto;
}

/* line 138, ../sass/screen.scss */
.lof-navigator-outer {
  position: relative;
  z-index: 100;
  height: 100px;
  margin: 20px 0 0;
  width: 820px !important;
  left: 50px;
  overflow: hidden;
  color: #FFF;
}

/* line 149, ../sass/screen.scss */
ul.lof-navigator {
  top: 0;
  padding: 0;
  margin: 0;
  position: absolute;
  width: 100%;
}

/* line 156, ../sass/screen.scss */
ul.lof-navigator li {
  cursor: hand;
  cursor: pointer;
  list-style: none;
  padding: 0;
  overflow: hidden;
  margin: 0;
  float: left;
  display: block;
  text-align: center;
}

/* line 167, ../sass/screen.scss */
ul.lof-navigator li img {
  border: none;
  opacity: .5;
  -webkit-transition: all 0.4s ease;
  -webkit-transition-delay: 0s;
  -moz-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

/* line 172, ../sass/screen.scss */
ul.lof-navigator li.active img, ul.lof-navigator li:hover img {
  opacity: 1;
  border: none;
}

/* line 176, ../sass/screen.scss */
.lof-navigator-wapper .lof-next, .lof-navigator-wapper .lof-previous {
  display: block;
  width: 23px;
  height: 34px;
  cursor: pointer;
  position: absolute;
  margin-top: -17px;
  top: 50%;
}

/* line 186, ../sass/screen.scss */
.lof-navigator-wapper .lof-next {
  text-indent: -999px;
  left: 10px;
  margin-right: 5px;
  background: url(../images/prev.png) no-repeat;
}

/* line 192, ../sass/screen.scss */
.lof-navigator-wapper .lof-previous {
  text-indent: -999px;
  right: 10px;
  margin-left: 5px;
  background: url(../images/next.png) no-repeat;
}

/* line 200, ../sass/screen.scss */
.gsInformer {
  background-color: #1a1a1a;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.75);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.75);
  color: #dae2e8;
}

/* line 206, ../sass/screen.scss */
.flowplayer {
  width: 746px;
  height: 420px;
}

/* line 209, ../sass/screen.scss */
.metcast__content {
  display: table-cell;
  height: inherit;
  vertical-align: middle;
}

/* line 212, ../sass/screen.scss */
.socialWeb {
  width: 824px;
  margin: 0 auto;
  padding-bottom: 5px;
  position: relative;
}
/* line 217, ../sass/screen.scss */
.socialWeb:before {
  content: '';
  display: block;
  position: absolute;
  background: url(../images/socialWeb__border.jpg);
  height: 5px;
  width: 100%;
  bottom: 0;
  left: 0;
}

/* line 228, ../sass/screen.scss */
.copyright {
  display: block;
  width: 825px;
  margin: 0 auto;
  padding: 15px 0;
  font-size: 12px;
}
/* line 234, ../sass/screen.scss */
.copyright span {
  display: block;
  text-align: right;
}

/* line 237, ../sass/screen.scss */
.bg-tv {
  background: url(../images/bg-tv.png);
  width: 923px;
  height: 747px;
  position: relative;
  margin: 0 auto 70px;
}
/* line 242, ../sass/screen.scss */
.bg-tv:before {
  content: '';
  display: block;
  position: absolute;
  background: url(../images/tv__shadow.png);
  width: 1040px;
  height: 130px;
  bottom: -55px;
  left: 50%;
  margin-left: -530px;
  z-index: -1;
}

/* line 253, ../sass/screen.scss */
.tv__controls {
  position: absolute;
  right: 60px;
  bottom: 60px;
  height: 110px;
  width: 482px;
}

/* line 260, ../sass/screen.scss */
.tv__quality {
  position: absolute;
  top: 0;
  left: 170px;
  width: 150px;
  height: inherit;
}

/* line 267, ../sass/screen.scss */
.tv__controls__title {
  position: absolute;
  left: 0;
  top: 0;
  width: 170px;
  height: 120px;
}
/* line 272, ../sass/screen.scss */
.tv__controls__title:before {
  content: '';
  display: block;
  position: absolute;
  background-position: 0 -369px;
  width: 88px;
  height: 20px;
  left: 50%;
  top: 50%;
  margin-top: -11px;
  margin-left: -44px;
}

/* line 281, ../sass/screen.scss */
.tv__quality__item {
  display: block;
  position: absolute;
}
/* line 284, ../sass/screen.scss */
.tv__quality__item.item-1 {
  width: 44px;
  height: 12px;
  top: 5px;
  left: 15px;
  background-position: 0 -416px;
}
/* line 285, ../sass/screen.scss */
.tv__quality__item.item-2 {
  width: 41px;
  height: 14px;
  top: 50px;
  left: 0px;
  background-position: 0 -402px;
}
/* line 286, ../sass/screen.scss */
.tv__quality__item.item-3 {
  width: 38px;
  height: 13px;
  top: 90px;
  left: 17px;
  background-position: 0 -389px;
}

/* line 288, ../sass/screen.scss */
#tv__quality__indicator {
  width: 99px;
  height: 84px;
  position: absolute;
  top: 10px;
  left: 50px;
}
/* line 293, ../sass/screen.scss */
#tv__quality__indicator.stage-1 {
  background-position: 0 0;
}
/* line 294, ../sass/screen.scss */
#tv__quality__indicator.stage-2 {
  background-position: 0 -168px;
}
/* line 295, ../sass/screen.scss */
#tv__quality__indicator.stage-3 {
  background-position: 0 -84px;
}

/*tv__controls__volume indicator*/
/* line 298, ../sass/screen.scss */
.tv__controls__volume {
  display: block;
  position: absolute;
  right: 10px;
  top: 0;
  width: 115px;
  height: 65px;
}
/* line 304, ../sass/screen.scss */
.tv__controls__volume .title {
  display: block;
  background-position: 0 -356px;
  width: 61px;
  height: 13px;
}

/*full size view*/
/* line 311, ../sass/screen.scss */
.tv__contols__fullSize {
  position: absolute;
  bottom: 0;
  right: 65px;
  width: 60px;
  height: 34px;
}
/* line 316, ../sass/screen.scss */
.tv__contols__fullSize:before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  width: 43px;
  height: 34px;
  background-position: 0 -286px;
}
/* line 322, ../sass/screen.scss */
.tv__contols__fullSize.active:before {
  background-position: 0 -252px;
}
/* line 323, ../sass/screen.scss */
.tv__contols__fullSize .title {
  display: block;
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -7px;
  width: 19px;
  height: 15px;
  background-position: 0 -446px;
  float: left;
}

/*on off volume*/
/* line 335, ../sass/screen.scss */
.tv__contols__volumeOff {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 60px;
  height: 34px;
}
/* line 339, ../sass/screen.scss */
.tv__contols__volumeOff:before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  width: 43px;
  height: 34px;
  background-position: 0 -286px;
}
/* line 345, ../sass/screen.scss */
.tv__contols__volumeOff.active:before {
  background-position: 0 -252px;
}
/* line 346, ../sass/screen.scss */
.tv__contols__volumeOff .title {
  display: block;
  position: absolute;
  left: 0;
  top: 50%;
  background-position: 0 -502px;
  width: 14px;
  height: 18px;
  margin-top: -9px;
}
/* line 355, ../sass/screen.scss */
.tv__contols__volumeOff.active .title {
  background-position: 0 -428px;
  width: 17px;
  height: 18px;
}

/* slider root element */
/* line 361, ../sass/screen.scss */
.slider {
  background-position: 0 -320px;
  height: 36px;
  position: relative;
  cursor: pointer;
  width: 113px;
  margin-top: 10px;
}

/* progress bar (enabled with progress: true) */
/* line 371, ../sass/screen.scss */
.progress {
  height: 9px;
  background-color: #C5FF00;
  display: none;
  opacity: 0.6;
}

/* drag handle */
/* line 379, ../sass/screen.scss */
.handle {
  background-position: 0 -461px;
  -webkit-box-shadow: 0 2px 7px black;
  -moz-box-shadow: 0 2px 7px black;
  box-shadow: 0 2px 7px black;
  width: 6px;
  height: 41px;
  position: absolute;
  top: 50%;
  margin-top: -20px;
  display: block;
  cursor: move;
}

/* the input field */
/* line 392, ../sass/screen.scss */
.range {
  border: 1px inset #ddd;
  float: left;
  font-size: 20px;
  margin: 0 0 0 15px;
  padding: 3px 0;
  text-align: center;
  width: 50px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  display: none;
}
